<!DOCTYPE html>
<html>

<style>
header {background-color: SeaGreen;top: 0px;}
header {position: fixed;}
div#content {background-color: :#EEEEEE; width: 72%;float: left;}
div#profile {background-color: rgb(38,38,38); width: 28%;float: left;}
div#box {margin: 0% 18% 0%;}
.clear {clear:both;}
</style>

  {% include head.html %}

  <body>
  <a name="top" id="top"></a>

    {% include header.html %}

<div id="box">

    <div class="page-content" id="content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <div class="page-content" id="profile">
      <div class="wrapper">
        
      <center><img src="http://ww1.sinaimg.cn/large/be5b4606jw1etdbqvn5p0g208c08cass.gif" id=profile></center><br>

      <center><h2><font color="white" face="Microsoft YaHei">在变幻黑夜中</font></h2></center>
      <center><h2><font color="white" face="Microsoft YaHei">寻找</font></h2></center>
      <center><h2><font color="white" face="Microsoft YaHei">那不变的光明</font></h2></center>

      </div>
    </div>
    <div class="clear"></div>
  <a href="#top" target="_self"><center>Back to Top</center></a>
</div>

    {% include footer.html %}

  </body>

</html>
